{% extends 'concert/base.html' %}
{% load static %}
{% block title %}payer pass{% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css'%} "type="text/css"/>
{% block content %}

    <form class="form-horizontal" role="form" method="POST" id="af">{% csrf_token %}
        <div class="form-group">
            <label for="montant" class="col-lg-2 col-sm-2 control-label">Montant:</label>
            <div class="col-lg-10">
            {{form.montant}}
           </div>
        </div>
         <div class="form-group">
            <label for="type_ticket" class="col-lg-2 col-sm-2 control-label">Type de ticket:</label>
            <div class="col-lg-10">
            {{form.type}}
           </div>
        </div>

        <input type="submit" value="Enregistrer" class="btn btn-success"/>
        <button type="button" class="btn btn-danger" onclick="window.history.back()">Annuler </button>




    </form>

{% endblock %}