{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}Cart{% endblock %}
{% block content %}
         <link rel="stylesheet"   href="{% static 'css/style.css' %}" >
<title>{% trans "Cart"  %}</title>
    <script src="https://js.stripe.com/v3/"></script>

        <div class="single-sidebar">
                          <h2 class="sidebar-title">{%trans 'Search Products'%}</h2>
                          <form method="get" action="{% url 'search' %}">
                            <input type="text" class="input" placeholder="Search..."name="query">
                              <input type="submit" value="search">
                        </form>
                    </div>
{% if cart %}

    <div class="box mb-6" >
        <div class="table">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>
                                <figure class="image is-64x64">
                                    <img src="{{ item.product.get_thumbnail }}">
                                </figure>
                            </td>
                            <td>
                                <a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a>
                            </td>
                            <td>
                                {{ item.quantity }}
                                <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                                <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                            </td>
                            <td>
                                {{ item.total_price }} FCFA
                            </td>
                            <td>
                                <a href="?remove_from_cart={{ item.id }}" class="delete">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><strong>Total Cost</strong></td>
                        <td><strong>{{ cart|length }}</strong></td>
                        <td colspan="2"><strong>{{ cart.get_total_cost }}   FCFA</strong></td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <h2 class="subtitle">Contact information</h2>
    <form role="form" method="post" action="." id="payment-form">{% csrf_token %}
        {% if form.non_field_errors %}
            <div class="notification is-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% if form.errors  %}
                 <div class="notification is-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{ field.label }}</strong>:{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                 </div>

        {% endif %}
    <div class="row">
    <div class="col-sm-5" style="background:#eaeaea">
    <div class="panel-body">
    <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputNom" class="col-lg-2 col-sm-2 control-label">Nom</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputNom" placeholder="Nom"  type="text" name="nom">
                    </div>
                </div>
                <div class="form-group">
                        <label for="inputPrenom" class="col-lg-2 col-sm-2 control-label">Prenom</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputPrenom" placeholder="prenom" type="text" name="prenom">
                        </div>
                </div>
             <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 col-sm-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                </div>
                <div class="form-group">
                        <label for="inputPhone" class="col-lg-2 col-sm-2 control-label">Phone</label>
                        <div class="col-lg-10">
                            <input class="input" id="inputPhone" type="text" name="phone" placeholder="phone number">
                        </div>
                </div>

         <div class="form-group">
                    <label for="inputAddress" class="col-lg-2 col-sm-2 control-label">Address</label>
                       <div class="col-lg-10">
                            <input class="input" id="inputAddress" type="text" placeholder="address" name="address">
                        </div>
                </div>
             <div class="form-group">
                    <label for="inputZipcode" class="col-lg-2 col-sm-2 control-label">Zip code</label>
                        <div class="col-lg-10">
                            <input class="input" id="inputZipcode" type="text" placeholder="Zip code" name="zipcode">
                        </div>
                </div>
               <div class="form-group">
                    <label for="inputPlace" class="col-lg-2 col-sm-2 control-label">Place</label>
                       <div class="col-lg-10">
                            <input class="input" id="inputPlace" placeholder="place" type="text" name="place">
                        </div>
                </div>





      <h2 class="subtitle">Payment information</h2>
            <div id="card-element" style="background:gainsboro">

            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">{{ message }}</div>
                {% endfor %}
                {% endif %}
         <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn-success">Checkout <span class="glyphicon glyphicon-check"></span></button>
             </div>
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>

    </form>

{% else %}
    <p><span class="glyphicon glyphicon-hand-up"> </span>you don't have any product in your cart  <span class="glyphicon glyphicon-alert"></span></p>
{% endif %}
{% endblock %}
{% block scripts %}

    <script>
    var stripe=Stripe('{{ stripe_pub_key }}');
    var elements = stripe.elements();
    var card= elements.create('card');
    card.mount('#card-element');

    var form = document.getElementById('payment-form');
    form.addEventListener('submit',function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error){
                var errorElement=document.getElementById('card-errors');
                errorElement.textContent=result.error.message;
            }else{

                stripeTokenHandler(result.token);
            }


        });

    });
    function stripeTokenHandler(token){
        var form=document.getElementById('payment-form');
        var hiddenInput=document.createElement('input');
        hiddenInput.setAttribute('type','hidden');
        hiddenInput.setAttribute('name','stripe_token');
        hiddenInput.setAttribute('value',token.id);
        form.appendChild(hiddenInput);

        form.submit();

    }
    </script>

{% endblock %}