{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block title %}Cart{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" xmlns="http://www.w3.org/1999/html">
<title>{% trans "Cart"  %}</title>



{% if cart %}

    <div class="container-md">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped table-dark table-bordered border-primary table-hover">
                <thead>
                    <th></th>
                    <th  style="text-align: center" scope="col">{% trans 'Product' %}</th>
                    <th style="text-align: center" scope="col">{% trans 'Quantity' %}</th>
                    <th style="text-align: center" scope="col">{% trans 'Price' %}</th>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr>

                            <td>
                                <figure class="image is-64x64">
                                    <img class="img-fluid" src="{{ item.product.get_thumbnail }}">
                                </figure>
                            </td>
                            <td>
                                <a href="{% url 'product' item.product.category.slug item.product.slug %}"><button type="button" class="btn btn-success">{{ item.product.title }}</button> </a>
                            </td>
                            <td>
                                {{ item.quantity }}
                                <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                                <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                            </td>
                            <td style="text-align: center">
                                {{ item.total_price }} FCFA
                            </td>
                            <td>
                                <a href="?remove_from_cart={{ item.id }}" class="delete"><button type="button" class="btn btn-danger"> {% trans 'Remove' %}</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><strong>{% trans 'Total Cost' %}</strong></td>
                        <td><strong>{{ cart|length }}</strong></td>
                        <td colspan="2"><strong>{{ cart.get_total_cost }}   FCFA</strong></td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    </div>
<hr>
<div class="container-md">
    <div class="row ">
        <div class="col-md-8">
    <h2 class="subtitle">{% trans 'Contact information' %}</h2>
    <form  method="post" action="." id="payment-form">{% csrf_token %}

        {% if form.non_field_errors %}
            <div class="notification is-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% if form.errors  %}
                 <div class="notification is-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{ field.label }}</strong>:{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                 </div>

        {% endif %}

    <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputNom" class="col-md-8 control-label ">{% trans 'First Name' %}</label>
                    <div class="col-md-4">
                        <input class="form-control" id="inputNom" placeholder="Nom"  type="text" name="nom">
                    </div>
                </div>
                <div class="form-group">
                        <label for="inputPrenom" class="col-md-8 col-sm-2 control-label ">{% trans 'Last name' %}</label>
                        <div class="col-md-4">
                            <input class="form-control" id="inputPrenom" placeholder="prenom" type="text" name="prenom">
                        </div>
                </div>
                <div class="form-group">
                        <label for="inputEmail" class="col-md-8 control-label  ">Email</label>
                        <div class="col-md-4">
                            <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                </div>

                <div class="form-group">
                        <label for="inputPhone" class="col-md-8 control-label ">{% trans 'Phone' %}</label>
                        <div class="col-md-4">
                            <input class="form-control" id="inputPhone"  name="phone" placeholder="phone number" type="text">
                        </div>
                </div>

                <div class="form-group">
                        <label for="inputAddress" class="col-md-8 control-label ">{% trans 'Address' %}</label>
                        <div class="col-md-4">
                            <input class="form-control " id="inputAddress"  placeholder="address" type="text" name="address">
                        </div>
                </div>
                <div class="form-group">
                        <label for="inputZipcode" class="col-md-8 control-label ">{% trans 'Zip code' %}</label>
                        <div class="col-md-4">
                            <input class="form-control " id="inputZipcode" placeholder="Zip code" type="text" name="zipcode">
                        </div>
                </div>
               <div class="form-group">
                        <label for="inputPlace" class="col-md-8 control-label ">{% trans 'Place' %}</label>
                        <div class="col-md-4">
                            <input class="form-control " id="inputPlace" placeholder="place" type="text" name="place">
                        </div>
                </div>



<hr>
<div class="container-md">
    <div class="row gy-2">
        <div class="col-md-8">

      <h2 class="subtitle">{% trans 'Payment information' %}</h2>
         <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                        <div id="card-element" style="background:aqua">
                        </div>
                    </div>
         </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">{{ message }}</div>
                {% endfor %}
                {% endif %}
         <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn-success">{% trans 'Checkout ' %}<span class="glyphicon glyphicon-check"></span></button>
             </div>
        </div>


        </div>
    </div>
</div>

    </form>




    </form>
        </div>
    </div>
</div>

{% else %}
    <button type="button"  class="btn-danger"> <span class="glyphicon glyphicon-hand-up"> </span>{% trans "you don't have any product in your cart " %} <span class="glyphicon glyphicon-alert"></span></button>
{% endif %}
{% endblock %}
{% block scripts %}

    <script>
        var stripe=Stripe('{{ stripe_pub_key }}');
        var elements = stripe.elements();
        var card= elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit',function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error){
                    var errorElement=document.getElementById('card-errors');
                    errorElement.textContent=result.error.message;
                }else{

                    stripeTokenHandler(result.token);
                }


            });

        });
        function stripeTokenHandler(token){
            var form=document.getElementById('payment-form');
            var hiddenInput=document.createElement('input');
            hiddenInput.setAttribute('type','hidden');
            hiddenInput.setAttribute('name','stripe_token');
            hiddenInput.setAttribute('value',token.id);
            form.appendChild(hiddenInput);

            form.submit();

        }
    </script>
</div>
{% endblock %}