{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{product.title }}{% endblock %}
{% block content %}

    <div class="container-md">
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img  src="{{ product.image.url }}">
        </figure>
    {% endif %}
    <hr>
        <h1 class="title display-1">{% trans 'Name' %}: {{ product.title }}</h1>
<hr>
        <h1>Price:{{ product.price }} FCFA</h1>
    <hr>
    <p class="mb-6"><span class="tag is-dark">{% trans 'Vendor' %}: {{ product.vendor.nom }}</span> </p>
    <hr>
    <p>{% trans 'Description' %} : {{ product.description }}</p>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">
           <button type="button" class="button btn-success btn-lg" >{{ message }}</button>
            </div>
        {% endfor %}

    {% endif %}
<form role="form" method="post" action="." >
    {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input type="number"name="quantity" value="1" class="input" min="1" >
            </div>
            <div class="control">
                <button type="submit" class="button btn-success btn-lg">{% trans 'Add to cart' %}</button>
            </div>
        </div>

    </form>

    {% if similar_products %}
        <hr>
            <div class="column is-multiline">
                <div class="col-md-12">
                <h2 class="subtitle">{% trans 'Similar products' %}: </h2>
                </div>
                {% for s in similar_products %}
                    {% include 'product/parts/list_items.html' %}
                {% endfor %}
            </div>
    {% endif %}
    </div>
{% endblock %}